<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">

    <!-- Bootstrap CSS -->
</head>

<body>

    <div class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h5 class="display-4 text-white" style="font-size: 1.5rem;">Activación de cuenta</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="mt-5 mb-4">{{QuePaso}}</h1>
        <div class="alert alert-info" role="alert">
            Redirigiendo al inicio de sesión en {{ contador }} ....
        </div>
    </div>

    <!-- Bootstrap JS y dependencias -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>

</html>
