<div class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="intro-excerpt">
                  <h5 class="display-4 text-white" style="font-size: 1.5rem;">Sobre Nosotros</h5>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-lg-6 text-center">
            <img src="https://th.bing.com/th/id/OIP.QawJ6Y83aAjLh1xsx6btiwHaHa?w=512&h=512&rs=1&pid=ImgDetMain" alt="Foto de equipo" class="img-fluid rounded-circle mb-4 shadow-lg">
        </div>
        <div class="col-lg-6">
            <div class="texto">
                <h2 class="text-primary mb-4" style="font-weight: bold;">Nuestra Empresa</h2>
                <p class="lead text-muted mb-3" style="text-align: justify; line-height: 1.8;">Somos una empresa dedicada a la venta de productos electrónicos desde hace más de 10 años. Nuestro objetivo es ofrecer a nuestros clientes los mejores productos al mejor precio.</p>
                <p class="lead text-muted" style="text-align: justify; line-height: 1.8;">Nuestro equipo está formado por profesionales altamente cualificados y apasionados por la tecnología. Estamos constantemente en busca de las últimas novedades y tendencias en el mundo de la electrónica.</p>
                <h3 class="mt-4 text-primary" style="font-weight: bold;">Nuestros Valores</h3>
                <ul class="list-unstyled mt-3 pl-3" style="line-height: 1.8;">
                    <li><strong>Calidad:</strong> Ofrecemos productos de alta calidad para garantizar la satisfacción de nuestros clientes.</li>
                    <li class="mt-2"><strong>Servicio:</strong> Nos enorgullecemos de ofrecer un servicio excepcional a nuestros clientes, antes, durante y después de la venta.</li>
                    <li class="mt-2"><strong>Innovación:</strong> Estamos en constante evolución y buscamos nuevas formas de mejorar nuestro negocio y ofrecer una mejor experiencia a nuestros clientes.</li>
                </ul>
                <h3 class="mt-4 text-primary" style="font-weight: bold;">Programadores</h3>
                <ul class="list-unstyled mt-3 pl-4">
                    <li>Alondra Perez Delgado</li>
                    <li>Jose Manuel Toxqui Briones</li>
                    <li>Nathan Josue Vargas Ronquilo</li>
                </ul>
            </div>
        </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  